<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CloudKitContainerIdentifier</key>
	<string>iCloud.xiaolai.Echo</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Echo needs access to record your voice.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Echo needs speech recognition to transcribe recordings.</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>microphone</string>
	</array>
</dict>
</plist>
